input, button {
  margin-top: 5px;
}

.email, .password, .name {
  margin: auto;
  width: 75%;
}

form {
  text-align: center;
}

.form-control {
  border: 2px solid;
}

.form-horizontal {
  margin: 100px 0px;
  color: black;
  padding: 30px;
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
}
