body, #root {
  font-family: 'Poppins', sans-serif;
  color: black;
  background: #853E00;
  background-image: url('./../../../assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

