#nav-dropdown {
  color: #555;
}

ul.dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown {
  display: inline-block;
}

.small_avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-image: url(../../../assets/profile.svg);
  margin: 5px;
}
